@charset "ISO-8859-1";
@charset "ISO-8859-1";

body{
	margin:0;
	padding:0;
	background-color: #ebf0fa;
	font-family: serif;
}
.can{
	width: 520px;
	height: 550px;
	background: transparent;
	border: 1px solid #2d5986;
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
}


.can input{
	width: 60%;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 15px;
}

::placeholder{
	opacity: .5;
}
label{
	font-size:25px;
	color: #2d5986;
	margin-left: 10px;
	
}

.can input[type="text"]{
	border: none;
	border-bottom: 1px solid #2d5986;
	background: transparent;
	outline: none;
	height: 50px;
	color: #2d5986;
	font-size: 20px;
}
.can input[type="password"]{
	border: none;
	border-bottom: 1px solid #2d5986;
	background: transparent;
	outline: none;
	height: 50px;
	color: #2d5986;
	font-size: 20px;
}

.can input[type="submit"]{
	width: 150px;
	border: none;
	ouline: none;
	height: 40px;
	background: #2d5986;
	color: #fff;
	font-size:18px;
	border-radius: 20px;
}
.can input[type="submit"]:hover{
	cursor: pointer;
	background: #3973ac;
	color: #ebf0fa;
}
button{
	margin:5px;
	width: 150px;
	height: 60px;
	border: none;
	ouline: none;
	height: 40px;
	background: #2d5986;
	color: #fff;
	font-size:18px;
	border-radius: 20px;
}
button:hover{
	cursor: pointer;
	background: #3973ac;
	color: #ebf0fa;
}










